body {
  padding-top: 10px;
  justify-content: center;
}

#logo {
  width: auto;
  height: 50px;
}

#slogan {
  color: orange;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  align-items: flex-end;
  height: 40px;
}

#slogan-2 {
  color: lightslategray;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 40px;
  font-style: italic;
}

.food-container {
  margin: 10px;
  width: auto;
  justify-content: center;
  align-items: center;
}

.food-image {
  width: 150px;
  height: 100px;
}

.food-text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  font-size: medium;
  white-space: nowrap;
}

.food-button-plus {
  border-color: black;
  background-color: white;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.food-button-minus {
  border-color: black;
  background-color: white;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.food-button-text {
  font-size: 15px;
  
}

.order-button {
  border-color: black;
  background-color: lightblue;
  border-radius: 10px;
  width: auto;
  height: 30px;
}

.clear-button {
  border-color: black;
  background-color: gray;
  border-radius: 10px;
  width: auto;
  height: 30px;
}